USE [master]
GO
/****** Object:  Database [RyanAir]    Script Date: 14.12.2019 16:49:08 ******/
CREATE DATABASE [RyanAir]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RyanAir', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.JOPEKSQL\MSSQL\DATA\RyanAir.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RyanAir_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.JOPEKSQL\MSSQL\DATA\RyanAir_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RyanAir].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RyanAir]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.12.2019 16:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 14.12.2019 16:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[Province] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[City] [nvarchar](max) NOT NULL,
	[Street] [nvarchar](max) NULL,
	[House_number] [nvarchar](max) NOT NULL,
	[Local_number] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 14.12.2019 16:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departure] [nvarchar](max) NOT NULL,
	[Arrival] [nvarchar](max) NOT NULL,
	[FlightDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Flights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luggages]    Script Date: 14.12.2019 16:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luggages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Package] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Luggages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 14.12.2019 16:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Passengers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 14.12.2019 16:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Place_number] [nvarchar](max) NOT NULL,
	[LuggageId] [int] NOT NULL,
	[PassengerId] [int] NOT NULL,
	[FlightId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Country], [Province], [District], [City], [Street], [House_number], [Local_number]) VALUES (1, N'Polska', N'Dolnośląskie', N'Wrocław', N'Wrocław', N'Skłodowskiej-Curie', N'24', N'1')
INSERT [dbo].[Addresses] ([Id], [Country], [Province], [District], [City], [Street], [House_number], [Local_number]) VALUES (2, N'Niemcy', N'Bawaria', NULL, N'Monachium', N'GrunStrasse', N'46', NULL)
INSERT [dbo].[Addresses] ([Id], [Country], [Province], [District], [City], [Street], [House_number], [Local_number]) VALUES (3, N'Polska', N'Małopolskie', N'Miechowski', N'Książ Wielki', N'Murarska', N'13', N'2')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[Flights] ON 

INSERT [dbo].[Flights] ([Id], [Departure], [Arrival], [FlightDate]) VALUES (1, N'Wrocław', N'Poznań', CAST(N'2019-12-13T00:00:00.000' AS DateTime))
INSERT [dbo].[Flights] ([Id], [Departure], [Arrival], [FlightDate]) VALUES (2, N'Wrocław', N'Warszawa', CAST(N'2019-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[Flights] ([Id], [Departure], [Arrival], [FlightDate]) VALUES (3, N'Gdańsk', N'Wiedeń', CAST(N'2019-12-29T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Flights] OFF
SET IDENTITY_INSERT [dbo].[Luggages] ON 

INSERT [dbo].[Luggages] ([Id], [Package]) VALUES (1, N'Podręczny')
INSERT [dbo].[Luggages] ([Id], [Package]) VALUES (2, N'Podręczny + Rejestrowany')
INSERT [dbo].[Luggages] ([Id], [Package]) VALUES (3, N'Podręczny Ultra')
SET IDENTITY_INSERT [dbo].[Luggages] OFF
SET IDENTITY_INSERT [dbo].[Passengers] ON 

INSERT [dbo].[Passengers] ([Id], [Name], [Surname], [Email], [Phone], [AddressId]) VALUES (1, N'Krzysztof', N'Kowal', N'kjopek98@wp.pl', N'887390231', 1)
INSERT [dbo].[Passengers] ([Id], [Name], [Surname], [Email], [Phone], [AddressId]) VALUES (3, N'Hubert', N'Hołownia', N'hhołownia@op.pl', N'982321231', 3)
SET IDENTITY_INSERT [dbo].[Passengers] OFF
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [Place_number], [LuggageId], [PassengerId], [FlightId]) VALUES (2, N'1', 1, 1, 2)
INSERT [dbo].[Tickets] ([Id], [Place_number], [LuggageId], [PassengerId], [FlightId]) VALUES (4, N'2', 2, 3, 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
/****** Object:  Index [IX_AddressId]    Script Date: 14.12.2019 16:49:08 ******/
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Passengers]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlightId]    Script Date: 14.12.2019 16:49:08 ******/
CREATE NONCLUSTERED INDEX [IX_FlightId] ON [dbo].[Tickets]
(
	[FlightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LuggageId]    Script Date: 14.12.2019 16:49:08 ******/
CREATE NONCLUSTERED INDEX [IX_LuggageId] ON [dbo].[Tickets]
(
	[LuggageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PassengerId]    Script Date: 14.12.2019 16:49:08 ******/
CREATE NONCLUSTERED INDEX [IX_PassengerId] ON [dbo].[Tickets]
(
	[PassengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Passengers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Passengers_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Passengers] CHECK CONSTRAINT [FK_dbo.Passengers_dbo.Addresses_AddressId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Flights_FlightId] FOREIGN KEY([FlightId])
REFERENCES [dbo].[Flights] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Flights_FlightId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Luggages_LuggageId] FOREIGN KEY([LuggageId])
REFERENCES [dbo].[Luggages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Luggages_LuggageId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Passengers_PassengerId] FOREIGN KEY([PassengerId])
REFERENCES [dbo].[Passengers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Passengers_PassengerId]
GO
USE [master]
GO
