@{
    ViewData["Title"] = "Home Page";
}


<!-- Przejście do koszykarzy-->
<h2>@Html.ActionLink("Przejdź do koszykarzy", "GetAllBallers", "Home")</h2>

<!-- Przejście do quizu-->
<h2>@Html.ActionLink("Sprawdź się w quizie!", "QuizFirstQuestion", "Home")</h2>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
